In [ ]:
import pandas as pd

df = pd.read_excel("C:/Users/Enzo/Downloads/FRETEEXTRASBI.xlsx", sheet_name=1)
df = df[((df['TIPO FRETE'] != 'Material Burden') | (df['TIPO FRETE'] != 'Absorbed Material Burden'))]
df_t = pd.melt(df, id_vars=['TIPO FRETE'], var_name='data', value_name='Valor')
df_t['Valor'] = df_t['Valor'].round(2)
ar = df_t['TIPO FRETE'].str.contains(r'Air|Ocean|Truck', case=False)

In [45]:
df_t = pd.melt(df, id_vars=['TIPO FRETE'], var_name='data', value_name='Valor')

df_t.head()

         TIPO FRETE       data          Valor
0         Net sales 2020-12-01  127905.063105
1        Freight In 2020-12-01    2776.241069
2        Freight In 2020-12-01     455.276244
3  Freight-In Truck 2020-12-01       0.000000
4    Freight-In Air 2020-12-01       0.000000

In [48]:
df_t['Valor'] = df_t['Valor'].round(2)
ar = df_t['TIPO FRETE'].str.contains(r'Air|Ocean|Truck', case=False)
df_t.loc[ar].head(50)

            TIPO FRETE       data    Valor
3     Freight-In Truck 2020-12-01     0.00
4       Freight-In Air 2020-12-01     0.00
7     Freight-In Ocean 2020-12-01     0.00
14   Freight-Out Truck 2020-12-01     0.00
15   Freight-Out Ocean 2020-12-01     0.00
16     Freight-Out Air 2020-12-01     0.00
25    Freight-In Truck 2021-12-01     0.00
26      Freight-In Air 2021-12-01     0.00
29    Freight-In Ocean 2021-12-01     0.00
36   Freight-Out Truck 2021-12-01     0.00
37   Freight-Out Ocean 2021-12-01     0.00
38     Freight-Out Air 2021-12-01     0.00
47    Freight-In Truck 2022-12-01  1148.42
48      Freight-In Air 2022-12-01  -159.32
51    Freight-In Ocean 2022-12-01  -563.58
58   Freight-Out Truck 2022-12-01   830.92
59   Freight-Out Ocean 2022-12-01     0.00
60     Freight-Out Air 2022-12-01     0.00
69    Freight-In Truck 2023-12-01   997.66
70      Freight-In Air 2023-12-01   -53.01
73    Freight-In Ocean 2023-12-01  1334.11
80   Freight-Out Truck 2023-12-01   415.73
81   Freight-Out Ocean 2023-12-01     0.00
82     Freight-Out Air 2023-12-01     0.00
91    Freight-In Truck 2023-01-01   108.92
92      Freight-In Air 2023-01-01     0.00
95    Freight-In Ocean 2023-01-01     0.00
102  Freight-Out Truck 2023-01-01   109.85
103  Freight-Out Ocean 2023-01-01     0.00
104    Freight-Out Air 2023-01-01     0.00
113   Freight-In Truck 2023-02-01    79.71
114     Freight-In Air 2023-02-01     0.00
117   Freight-In Ocean 2023-02-01     0.00
124  Freight-Out Truck 2023-02-01    63.01
125  Freight-Out Ocean 2023-02-01     0.00
126    Freight-Out Air 2023-02-01     0.00
135   Freight-In Truck 2023-03-01   135.85
136     Freight-In Air 2023-03-01    -7.65
139   Freight-In Ocean 2023-03-01   -45.21
146  Freight-Out Truck 2023-03-01   -11.55
147  Freight-Out Ocean 2023-03-01     0.00
148    Freight-Out Air 2023-03-01     0.00
157   Freight-In Truck 2023-04-01   130.75
158     Freight-In Air 2023-04-01   -25.49
161   Freight-In Ocean 2023-04-01  -143.91
168  Freight-Out Truck 2023-04-01    36.11
169  Freight-Out Ocean 2023-04-01     0.00
170    Freight-Out Air 2023-04-01     0.00
179   Freight-In Truck 2023-05-01   108.21
180     Freight-In Air 2023-05-01   -19.86